* {
    box-sizing: inherit;
    outline: 0;
    word-break: break-all;
}

p,
li {
    color: #222;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif, SimHei, SimSun;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    width: 750px;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.container img {
    display: block;
    transition: all .15s linear;
    z-index: 100;
    max-width: 100%;
    height: auto;
    border: 0;
    cursor: zoom-in;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 16px;
    text-align: justify;
}

code {
    padding: 2px 4px;
    color: #c7254e;
    border-radius: 4px;
    line-height: 1.7;
    font-weight: 400;
    background-color: #f6f6f6;
    border: none;
    font-size: 12px;
    white-space: pre-wrap;
    vertical-align: middle;
    font-family: Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

.code {
    position: relative;
    display: flex;
    border: 1px solid #919191;
    background-color: #f8f8f8;
    border-radius: 4px;
    width: 90%;
    padding: 8px;
    margin: 20px;
    cursor: -webkit-grab;
}

.num-container {
    padding: 0;
    margin: 0;
}

.code-container {
    display: block;
    list-style-type: none;
    font-size: 14px;
    line-height: 22px;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    font-family: Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

.copy-btn {
    display: none;
    position: absolute;
    top: 8px;
    right: 10px;
    height: 22px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0 2px;
    cursor: pointer;
}

.copy-btn::before {
    content: attr(data-content);
}

.code-container li {
    display: flex;
    margin: 0;
    height: 22px;
    text-align: -webkit-match-parent;
    font-family: Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

.line-numbers {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: flex-end;
    font-size: 14px;
    width: 24px;
    height: 22px;
    border-right: 1px solid #919191;
    font-family: Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

.line-num {
    text-align: right;
    padding-right: 8px;
    margin: 0;
    font-family: Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

.line-num::before {
    content: attr(data-line-num);
    text-align: right;
    font-family: Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

.highlight-code {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: flex-start;
    height: 22px;
    margin-left: 8px;
    font-family: Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

.code-line {
    white-space: nowrap;
    overflow: hidden;
    font-family: Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif !important;
}

.code-line span {
    color: #222;
}

.highlighttable {
    width: 90%;
    border: 1px solid #919191;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.code-line .hll {
    background-color: #ffffcc
}

.code-line .c {
    color: #408080;
    font-style: italic
}


/* Comment */

.code-line .err {
    border: 1px solid #FF0000
}


/* Error */

.code-line .k {
    color: #008000;
    font-weight: bold
}


/* Keyword */

.code-line .o {
    color: #666666
}


/* Operator */

.code-line .ch {
    color: #408080;
    font-style: italic
}


/* Comment.Hashbang */

.code-line .cm {
    color: #408080;
    font-style: italic
}


/* Comment.Multiline */

.code-line .cp {
    color: #BC7A00
}


/* Comment.Preproc */

.code-line .cpf {
    color: #408080;
    font-style: italic
}


/* Comment.PreprocFile */

.code-line .c1 {
    color: #408080;
    font-style: italic
}


/* Comment.Single */

.code-line .cs {
    color: #408080;
    font-style: italic
}


/* Comment.Special */

.code-line .gd {
    color: #A00000
}


/* Generic.Deleted */

.code-line .ge {
    font-style: italic
}


/* Generic.Emph */

.code-line .gr {
    color: #FF0000
}


/* Generic.Error */

.code-line .gh {
    color: #000080;
    font-weight: bold
}


/* Generic.Heading */

.code-line .gi {
    color: #00A000
}


/* Generic.Inserted */

.code-line .go {
    color: #888888
}


/* Generic.Output */

.code-line .gp {
    color: #000080;
    font-weight: bold
}


/* Generic.Prompt */

.code-line .gs {
    font-weight: bold
}


/* Generic.Strong */

.code-line .gu {
    color: #800080;
    font-weight: bold
}


/* Generic.Subheading */

.code-line .gt {
    color: #0044DD
}


/* Generic.Traceback */

.code-line .kc {
    color: #008000;
    font-weight: bold
}


/* Keyword.Constant */

.code-line .kd {
    color: #008000;
    font-weight: bold
}


/* Keyword.Declaration */

.code-line .kn {
    color: #008000;
    font-weight: bold
}


/* Keyword.Namespace */

.code-line .kp {
    color: #008000
}


/* Keyword.Pseudo */

.code-line .kr {
    color: #008000;
    font-weight: bold
}


/* Keyword.Reserved */

.code-line .kt {
    color: #B00040
}


/* Keyword.Type */

.code-line .m {
    color: #666666
}


/* Literal.Number */

.code-line .s {
    color: #BA2121
}


/* Literal.String */

.code-line .na {
    color: #7D9029
}


/* Name.Attribute */

.code-line .nb {
    color: #008000
}


/* Name.Builtin */

.code-line .nc {
    color: #0000FF;
    font-weight: bold
}


/* Name.Class */

.code-line .no {
    color: #880000
}


/* Name.Constant */

.code-line .nd {
    color: #AA22FF
}


/* Name.Decorator */

.code-line .ni {
    color: #999999;
    font-weight: bold
}


/* Name.Entity */

.code-line .ne {
    color: #D2413A;
    font-weight: bold
}


/* Name.Exception */

.code-line .nf {
    color: #0000FF
}


/* Name.Function */

.code-line .nl {
    color: #A0A000
}


/* Name.Label */

.code-line .nn {
    color: #0000FF;
    font-weight: bold
}


/* Name.Namespace */

.code-line .nt {
    color: #008000;
    font-weight: bold
}


/* Name.Tag */

.code-line .nv {
    color: #19177C
}


/* Name.Variable */

.code-line .ow {
    color: #AA22FF;
    font-weight: bold
}


/* Operator.Word */

.code-line .w {
    color: #bbbbbb
}


/* Text.Whitespace */

.code-line .mb {
    color: #666666
}


/* Literal.Number.Bin */

.code-line .mf {
    color: #666666
}


/* Literal.Number.Float */

.code-line .mh {
    color: #666666
}


/* Literal.Number.Hex */

.code-line .mi {
    color: #666666
}


/* Literal.Number.Integer */

.code-line .mo {
    color: #666666
}


/* Literal.Number.Oct */

.code-line .sa {
    color: #BA2121
}


/* Literal.String.Affix */

.code-line .sb {
    color: #BA2121
}


/* Literal.String.Backtick */

.code-line .sc {
    color: #BA2121
}


/* Literal.String.Char */

.code-line .dl {
    color: #BA2121
}


/* Literal.String.Delimiter */

.code-line .sd {
    color: #BA2121;
    font-style: italic
}


/* Literal.String.Doc */

.code-line .s2 {
    color: #BA2121
}


/* Literal.String.Double */

.code-line .se {
    color: #BB6622;
    font-weight: bold
}


/* Literal.String.Escape */

.code-line .sh {
    color: #BA2121
}


/* Literal.String.Heredoc */

.code-line .si {
    color: #BB6688;
    font-weight: bold
}


/* Literal.String.Interpol */

.code-line .sx {
    color: #008000
}


/* Literal.String.Other */

.code-line .sr {
    color: #BB6688
}


/* Literal.String.Regex */

.code-line .s1 {
    color: #BA2121
}


/* Literal.String.Single */

.code-line .ss {
    color: #19177C
}


/* Literal.String.Symbol */

.code-line .bp {
    color: #008000
}


/* Name.Builtin.Pseudo */

.code-line .fm {
    color: #0000FF
}


/* Name.Function.Magic */

.code-line .vc {
    color: #19177C
}


/* Name.Variable.Class */

.code-line .vg {
    color: #19177C
}


/* Name.Variable.Global */

.code-line .vi {
    color: #19177C
}


/* Name.Variable.Instance */

.code-line .vm {
    color: #19177C
}


/* Name.Variable.Magic */

.code-line .il {
    color: #666666
}


/* Literal.Number.Integer.Long */